@import url('https://fonts.cdnfonts.com/css/futura-pt');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
    color: #4B3B2D;

}

.projects-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF8F8;
    overflow: hidden;
}


/**************** PROJECT MAIN ****************/

.projects-main {
    width: 100%;
    flex-basis: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

/***********projects title***********/
.projects-title {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    font-size: 100px;
    animation: fadeInLetf ease-in-out .5s 1;
    -webkit-animation: fadeInLetf ease-in-out .5s 1;
    color: #4b3b2d90;
}

@keyframes fadeInLetf {
    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(0%);
    }
}

/*********** Slider ***********/
.projects {
    width: 100%;
    height: auto;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 85px;
    column-gap: 0;
    row-gap: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 50px 0 50px 0;
}


/* Scroll bar */
::-webkit-scrollbar {
    display: none;
}

/*********** Each project ***********/
.project-container {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project {
    width: 90%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff5f5;
    box-shadow: rgb(77, 60, 46, .35) 0px 5px 10px -5px, 0 0px 2px  rgb(77, 60, 46, .15);
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.project:hover {
    transform: scale(1.05,1.05);
    box-shadow: rgb(77, 60, 46, .25) 0px 15px 25px -15px, 0 0px 2px  rgb(77, 60, 46, .15);
} 
.project-name {
    font-size: 20px;
    font-weight: 450;
    color: rgba(77, 60, 46, 0.65);
    cursor: pointer;
}

.project-type {
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


/********** Hover **********/

/* 1st project */
.tuitionfree:hover>img {
    transform: rotate(-20deg) scale(1.1, 1.1);
}

/* 2nd project */
.theapp:hover>img {
    transform: rotate(0) scale(1.15, 1.15);
}

/* 3rd project */
.nycoffee:hover>img {
    transform: rotate(0) scale(0.9, 0.9);
}

.project:hover .prj-name,
.project:hover .prj-type {
    transform: translateX(0);
}

.project:hover .see-btn {
    transform: translateY(0);
}

.project:hover .text-bg {
    transform: translateY(0);
}